
@model IEnumerable<ModeloVistaControladorViernes.Models.Libro>

@{
    ViewBag.Title = "Index";
}

@{
    string titulo = "Página principal";
    int dia = DateTime.Now.Day;
    int mes = DateTime.Now.Month;
    int año = DateTime.Now.Year;
    string cadena;
    if (dia > 15)
    {
        cadena = "·estamos en la segunda parte del mes";

    }
    else
    {
        cadena = "Estamos en la primera parte del mes";
    }


}
<!DOCTTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<title>
    Index
</title>
<body>

    <div>
        <ul>
            @foreach (var libro in Model)
            {
                <li>@libro.Titulo (@libro.TipoLibro)</li>

            }
        </ul>
    </div>
</body>
</html>


